body {
    background-image: url("../media/4k-vaporwave-wallpaper-960x600-wallpaper.jpg");
    width: 960px;
    background-repeat: no-repeat;
    background-color: black;
}

.title {
    text-align: center
}

.gamefield {
    font-size: 24px;
    color: white;
}
